*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow: hidden; */
}

body{
    background-color: #000;
    font-family: gilroy;
}

#c1{
    position: fixed;
    top: 5%;
    left: 30%;
    width: 13em;
    height: 13em;
    border-radius: 50%;
    box-shadow: 0 0 50px #d84869;
    background: linear-gradient(-25deg, #d84869, #f46641);
    animation: c1circle 15s infinite;
}

@keyframes c1circle{
    50%{
        left: 33%;
      top: 4%;
      scale: 1.11;
    }
}

#c2{
    position: fixed;
    bottom: 5%;
    right: 30%;
    width: 18em;
    height: 18em;
    border-radius: 50%;
    box-shadow: 0 0 50px #5648d8;
    background: linear-gradient(-25deg, #5648d8, #8641f4);
    animation: c2circle 8s infinite;
}

@keyframes c2circle{
    50%{
        right: 31%;
      bottom: 6%;
    }
}

#wrapper{
    height: 100vh;
    width: 100vw;
    /* background-color: #111;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center; */
}

#card{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2vw 1vw;
    width: 27%;
    height: 70%;
    background: #ffffff1a;
    backdrop-filter: blur(15px);
    border: 2px solid #ffffff30;
    border-radius: 15px;
    font-family: gilroy;
    gap: 30px;
}

#card img{
    width: 45%;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    border: 2px solid #ffffff30;
}

#card h2{
    color: white;
    font-size: 2.5vw;
    font-weight: 900;
}

#card h3{
    font-size: 1.2vw;
    font-weight: 900;
    color: #ffffff85;
}

.bottom{
    display: flex;
    gap: 10px;
    align-items: center;
    width: 85%;
}

.leftb{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    padding: 9px 10px;
    border: rgba(255, 255, 255, 0.579) 2px solid;
    background-color: transparent;
    border-radius: 5px;
    color: white;
    width: 50%;
    transition: all ease 0.3s;
    text-transform: capitalize;
}

.leftb:hover{
    background: #ffffffb9;
    color: #131313;
    cursor: pointer;
}

.rightb{
    padding: 8px 12px;
    border: rgba(255, 255, 255, 0.579) 2px solid;
    background-color: transparent;
    border-radius: 5px;
    color: white;
    width: 50%;
}

.rightb:hover{
    background: #ffffffb9;
    color: #131313;
    cursor: pointer;
}



.modal{
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    border: 2px solid  #ffffff59;
    width: 500px;
    scale: 0;
    background:  #00000088;
    backdrop-filter: blur(10px);
    color: white;
    z-index: 1;
    padding: 20px 25px;
    border-radius: 20px;
    transition: 0.5s ease-in-out;
}

.modal-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 12px;
    margin-bottom: 25px;
    border-bottom: 1px solid #ffffff88;
}

.modal-header i {
    font-size: 30px;
}

.close {
    cursor: pointer;
}

.icons{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a{
    border: 1px solid #ffffff88;
    padding: 17px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    margin: 10px 0px;
    gap: 10px;
    justify-content: center;
    transition: all 0.5s;
    margin-bottom: 25px;
    text-decoration: none;
}

.icons a i{
    font-size: 2vw;
}
  
#fb {
    color: #1771e6;
    border: 1px solid #1771e6;
    padding: 1.8vw;
}
#fb:hover {
    background-color: #1771e6;
    color: #fff;
}
  
#tw {
    color: #1c99e6;
    border: 1px solid #1c99e6;
    padding: 1.8vw;
}
#tw:hover {
    background-color: #1c99e6;
    color: #fff;
}
  
#in{
    color: #cb2770;
    border: 1px solid #cb2770;
    padding: 1.8vw;
}

#in:hover {
    background-color: #cb2770;
    color: #fff;
}
  
#wh{
    color: #2fe664;
    border: 1px solid #2fe664;
    padding: 1.8vw;
}

#wh:hover {
    background-color: #2fe664;
    color: #fff;
}
  
#te {
    color: #0081c2;
    border: 1px solid #0081c2;
    padding: 1.8vw;
}
  
#te:hover {
    background-color: #0081c2;
    color: #fff;
}

.active{
    scale: 1;
}

.overlay{
    position: fixed;
    top: 0;
    opacity: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: #5f5f5f83;
    transition: 0.5s ease-in-out;
    z-index: -9;
    /* pointer-events: none; */
    /* backdrop-filter: blur(10px); */
}

.overlayactive {
    opacity: 1;
    z-index: initial;
    /* pointer-events: initial; */
}

@media (max-width: 850px) {
    #card {
        width: 350px;
    }
    .bottom {
      flex-direction: column;
    }
    .modal {
      width: 70vw;
    }

    #card h2 {
        font-size: 1.3rem;
      }
  
      #card h3 {
        font-size: 1.2rem;
      }
  }
  
  @media (max-width: 400px) {
    #wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    #card {
      position: static;
      top: 0;
      left: 0;
      translate: 0 0;
      margin: 0 12px;
      padding: 0 10px;
    }
    #card img {
      width: 120px;
      height: 120px;
    }
    

    .modal {
      width: 80vw;
    }
  }